.pageTitle{
    text-align: center;
    font-size: 1.2em;
}

.pageSubTitle{
    text-align: center;
    font-size: 1em;
}

.ui-body, .ui-body label{
    font-size:.9em;
}

.ui-body label{
    font-weight: bold;
}
.ui-field-contain {
    border-bottom-style: none;
}

#defAddr .ui-field-contain .ui-block-a, #defContactInfo .ui-field-contain .ui-block-a {
    width:90% !important;
}
#defAddr .ui-field-contain .ui-block-b, #defContactInfo .ui-field-contain .ui-block-b{
    width:10% !important;
}

.transparent {
    border: none !important;
    border-color: transparent !important;
    margin:0 !important;
    border-width:0 !important;

}

input[type="text"]:disabled {
    background: transparent;
    color: inherit;
}

.ui-state-disabled {
    opacity: .8 !important;
}

.footBtn{
    margin-top:2em;
}

#complianceDiv{
    margin-top:40px;
}

#compliance .footBtn{
    margin-left:16px;
    margin-right:16px;
}

#compliance .ui-btn {
    white-space: normal;
    text-align: center;
}

#compliance .ui-content{
    width:100%;
    padding:0;
}

#complianceDiv .ui-li-divider {
    -webkit-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#complianceDiv div .ui-first-child  {
    -webkit-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.sch {  color: #52b480;
    text-shadow: 0 1px 0 #f3f3f3;
    background-color: #f6f6f6;
    border-radius:8px;
    color: #52B480;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 3px;
    margin-top: 10px;
}

.btn-edit{
    top:1.5em !important;
}

#defAddr input[type=text].ui-disabled{
    padding: .5em 0 0 1em;
}